*{
    font-family: 'Montserrat', sans-serif;  
  }
  body{
    background:#ECF5F4;
  }
  .container{
    margin: auto;
    max-width: 1200px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  header{
    width: 1300px;
    position: absolute;
    left: 10%;
    padding-top: 10px;
    padding-bottom:30px;
    display: flex;
    justify-content: space-between;
    border-bottom: 7px dashed #07ABA1;
  box-shadow: 0px 4px 4px 0px
   rgba(0, 0, 0, 0.092);
  }

.links > a {
    margin-right: 50px;

}
.links{
    padding-top: 50px;
    margin-left: 10px;
    color: #000;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 50px; /* 250% */
letter-spacing: 5px;
}
 #btn{
    width: 230px; 
    height: 93px;
    border-radius: 100px;
background: rgba(255, 100, 0, 0.95);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
 text-align: center;
 font-size: 24px;
 font-style: normal;
 font-weight: 700;
 line-height: 25px; /* 104.167% */
 letter-spacing: 3.6px;}
 .block_H1{
  width:650px;
	height:500px;
		position:absolute;
	left:45%;
	top:40%;
  color: #000;
   font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 35px; /* 187.5% */
  letter-spacing: 3.6px;
}
  .foto_r{
      border-radius: 500px;
      position:absolute;
	left:10%;
	top:35%;
    }
    .block_h2{
     width: 1300px;
      height: 400px;
     margin-top: 850px; 
     display: flex;
      justify-content:space-evenly;
      position: absolute;
     left:10% ;
     
      font-size: 24px;
     font-style: normal;
     font-weight: 400;
     line-height: 45px; /* 140.625% */
     letter-spacing: 3.2px;
     
    }
    .item{
      
      width: 450px ;
    }

    h2{
      font-size: 32px;
      font-weight: 700;
          } 
    .comanda_h2{
     text-align: center;
     width: 1300px;
     height: 50px;
     margin-top: 1200px; 
     position: absolute;
     left: 10%;
     
    }
    .comanda{
      width: 1300px;
      height: 400px;
     margin-top: 1300px; 
     position: absolute;
      left: 10%;
      display: flex;
      justify-content:space-around;
     }
    
      .foto_c{
        border-radius: 25px;
        width: 300px;
        height: 300px;
      }
      .zag{
        display: block;
        width: 280px;
        font-weight: 300;
        font-size: 24px;
        color: black;
        padding: 17px;;
        text-align:center;
        border-radius: 25px;
        background: rgba(115, 171, 255, 0.51);
      } 
      h3{
        font-size: 32px;
        font-weight: 500;
            } 
        .otz_h3{
          display: block;
          text-align: center;
          width: 1300px;
          height: 50px;
          margin-top: 1780px; 
          position: absolute;
          left: 10%;
        }
.otz_c{
  width: 1300px;
	height: 600px;
  margin-top: 1850px;
		position:absolute;
    left: 10%;
    display: flex;
    justify-content: space-between ;
 }
 .otz_c2{
  width: 1300px;
	height: auto;
  margin-top:  2050px;
		position:absolute;
    left: 10%;
    display: flex;
    justify-content: space-between ;
   
 }
     .section{
      width: 300px;
      height: 150px;
   text-align: center;
      border-radius: 25px;
      background:#73ABFF2B;
        }
      .btm_otz{
      margin-top: 2250px;
      position:absolute;
      left: 45%;
      width: 230px;
      height: 80px;
      border-radius: 50px;
background:rgba(115, 171, 255, 0.51);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25), 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #FFF;
 text-align: center;
 font-size: 24px;
 font-style: normal;
 font-weight: 70;
 line-height: 25px; /* 104.167% */
 letter-spacing: 3.6px;
  
}
footer{
  width: 1300px;
	height: auto;
margin-top: 2400px;
position:absolute;
left: 10%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  border-top: 7px dashed #07ABA1;
  box-shadow: 0px 4px 4px 0px
   rgba(0, 0, 0, 0.092);
}
.footer-block_c{
  width: 1300px;
      height: 400px;
     margin-top: 850px; 
     display: flex;
      justify-content:space-evenly;
      position: absolute;
     left:10% ;
  
}
.block_c{
  width: 1300px;
      height: 400px;
     margin-top: 300px; 
     display: flex;
      justify-content:space-evenly;
      position: absolute;
     left:10% ;
}
iframe{
  margin-top: 600px; 
  display: block;
  left: 40%;
  position: absolute;
  

}

        